@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

body {
  font-family: Martian mono; 
  
  display: flex;
  flex-direction: column;
}

body, html {
  min-height: 100vh;
}

.div {
  margin: 0;
}


.lists {
  display: flex;
  column-gap: 25vh;
  padding: 25px 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 33, 33);
  font-weight: 600;
  line-height: 1.4;
}


.rel {
  color: white;
}

.my-profile {
  display: flex;
  justify-content: center;
  margin: 60px 10px;
  align-items: center;
  row-gap: 5vh;
}


.profile {
  width: 240px;
  height: 240px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.my-profile h1 {
  font-weight: 700;
  font-size: 5vh;
  margin-top: 49px;
  margin-right: 20px;
  margin-left: 20px;
  flex-wrap: wrap;
  overflow: hidden;
}

.my-profile h1 strong{
  color:blueviolet;
}


.card-img {
  width: 240px;
  height: 260px;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card h2 {
  text-align: center;
  text-wrap:wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  width: 235px;
  font-weight: 700;
  font-size: 20px;
}

.card {
  height:328px;
  border-radius: 25px;
  background-color: rgb(211, 203, 203);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 118, 232);
  color: black;
  padding: 80px 0;
  column-gap: 80px;
  row-gap: 20px;
  
}



.bottom-page {
  margin-top: auto;
  display: flex;
  background-color: rgb(39, 33, 33);
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.bottom-page a {
  color: white;
}


/*effects*/

.profile:hover {
  width: 243px;
  height: 243px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.39) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card:hover {
  background-color: white;
}

/* adaptive */

@media(max-width: 1000px) {
 .lists{
  column-gap: 50px;
  
  
 }
 .my-profile {
    margin: 20px 0;
    flex-direction: column;
  }
  .my-profile h1 {
    font-size: 3vh;
  }
  
  .cards{
    padding: 20px 0;
  }
  .card h2 {
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
  }
}
@media(max-width: 700px) {
  .lists{
    column-gap: 10px;
    flex-direction: column;
    
   }
   .profile {
      height: 140px;
      width: 140px;
    }
}